In [1]:
import csv
import numpy as np
import pandas as pd

In [2]:
#https://www.census.gov/data/datasets/time-series/demo/popest/2010s-state-total.html

In [2]:
# EDIT THIS TO CONTAIN ALL YEARS YOU WANT TO ANALYZE
years = ['2000', '2001', '2002', '2003', '2004',
         '2005', '2006', '2007', '2008', '2009',
         '2010', '2011', '2012',
         '2013', '2013', '2014', '2015', '2016', 
         '2017', '2018', '2019']

In [3]:
def drop_cols(col_names, df):
    for col_name in col_names:
        if col_name in df.columns:
            df = df.drop(columns=col_name)
    return df

In [8]:
def combine(year):
    unemployment_csv = f'./data/{year}_unemployment.csv'
    education_csv = f'./data/education_{year}.csv'
    income_csv = f'./data/yearly-income-{year}.csv'
    jobgrowth_csv = f'./data/{year}-jobgrowth.csv'
    
    if int(year) < 2011:
        population_csv = f'./data/nst-est2000-alldata.csv'
    else:
        population_csv = f'./data/nst-est2019-alldata.csv'
    snaps_csv = f'./data/snaps_data_{year}.csv'
    unwanted_cols = ['rank', 'Rank', 'labor force', 'Labor Force', 'Rank ']
    
    unemployment_df = pd.read_csv(unemployment_csv)
    education_df = pd.read_csv(education_csv)
    pop_df = pd.read_csv(population_csv)
    
    income_df = pd.read_csv(income_csv)
    income_df['State'] = income_df['State'].str.title()
    
    jobgr_df = pd.read_csv(jobgrowth_csv)
    
    #print(pop_df.head())
    #print(population_csv)

    pop_df = pop_df[["NAME", f"POPESTIMATE{year}"]].copy()
    snaps_df = pd.read_csv(snaps_csv)
    education_df = education_df.rename(columns={"State or Other Area": "State", f"{year} Actual": "Education Budget"})
    unemployment_df = unemployment_df.rename(columns={"state": "State", f"{year} rate": "Unemployment Rate", f"{year} Rate": "Unemployment Rate"})
    #print(unemployment_df)
    pop_df = pop_df.rename(columns={"NAME": "State", f"POPESTIMATE{year}": "Population Estimate"})
    snaps_df = snaps_df.rename(columns = {"state": "State", "household_participants": "SNAPS household_participants",
                                   "individual_participants": "SNAPS individual_participants", "cost": "SNAPS cost",
                                   "cost_per_person": "SNAPS cost_per_person", "cost_per_household": "SNAPS cost_per_household"})
    
    df = pd.merge(education_df, unemployment_df, on='State')
    df = pd.merge(df, pop_df, how='left', on='State')
    df = pd.merge(df, snaps_df, how='left', on='State')
    df = pd.merge(df, income_df, how='left', on='State')
    df = pd.merge(df, jobgr_df, how='left', on='State')
    if year == '2019':
        print(df)
    df = drop_cols(unwanted_cols, df)
    
    print(year)
    print(df.columns)
    
    return df

In [9]:
for year in years:
    df = combine(year)
#     print(df.head())
    df.to_csv(f'./data/{year}-combined.csv', index=False)

#df.head()

2000
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2001
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2002
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2003
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2004
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2005
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2006
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2007
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2008
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2009
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2010
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2011
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2012
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2013
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'Unnamed: 6', 'Unnamed: 7', 'DATE', 'Median Income', 'Year',
       'Unnamed: 0', 'U.S. Rank', '% Change', 'Job Growth (In Thousands)',
       '# of Jobs (In Thousands)'],
      dtype='object')
2013
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'Unnamed: 6', 'Unnamed: 7', 'DATE', 'Median Income', 'Year',
       'Unnamed: 0', 'U.S. Rank', '% Change', 'Job Growth (In Thousands)',
       '# of Jobs (In Thousands)'],
      dtype='object')
2014
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2015
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2016
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2017
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
2018
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household',
       'DATE', 'Median Income', 'Year', 'Unnamed: 0', 'U.S. Rank', '% Change',
       'Job Growth (In Thousands)', '# of Jobs (In Thousands)'],
      dtype='object')
                   State  Education Budget  Unemployment Rate  rank  \
0                Alabama      2.775338e+09                3.2    16
1                 Alaska      4.005232e+08                5.6    51
2                Arizona      5.143402e+09                4.8    46
3               Arkansas      1.350409e+09                3.5    25
4             California      1.721222e+10                4.1    38
5               Colorado      2.788049e+09                2.7     6
6            Connecticut      1.828889e+09                3.6    30
7               Delaware      4.738048e+08                3.6    30
8   District of Columbia      1.838047e+09                5.5    49
9                Florida      8.753067e+09                3.2    16
10               Georgia      5.062247e+09                3.6    30
11                Hawaii      4.491004e+08                2.5     3
12                 Idaho      6.889084e+08                2.9    11
13              Illinois      6.657829e+09                4.0    37
14               Indiana      3.385141e+09                3.3    20
15                  Iowa      1.666660e+09                2.7     6
16                Kansas      1.439277e+09                3.3    20
17              Kentucky      2.208575e+09                4.1    38
18             Louisiana      2.513977e+09                4.6    45
19                 Maine      6.726847e+08                2.9    11
20              Maryland      2.480450e+09                3.4    24
21         Massachusetts      4.052189e+09                3.0    13
22              Michigan      4.696645e+09                4.1    38
23             Minnesota      3.770574e+09                3.3    20
24           Mississippi      1.601804e+09                5.5    49
25              Missouri      3.148465e+09                3.2    16
26               Montana      4.848613e+08                3.5    25
27              Nebraska      1.028414e+09                3.1    14
28                Nevada      8.532453e+08                4.1    38
29         New Hampshire      1.338125e+09                2.6     5
30            New Jersey      3.447693e+09                3.5    25
31            New Mexico      8.511167e+08                5.0    47
32              New York      1.132397e+10                3.9    35
33        North Carolina      4.320491e+09                3.9    35
34          North Dakota      4.090698e+08                2.2     2
35                  Ohio      5.377536e+09                4.2    42
36              Oklahoma      1.852147e+09                3.1    14
37                Oregon      1.864318e+09                3.7    33
38          Pennsylvania      7.301399e+09                4.3    44
39          Rhode Island      7.424694e+08                3.5    25
40        South Carolina      2.264532e+09                2.8     8
41          South Dakota      5.467908e+08                2.8     8
42             Tennessee      3.009125e+09                3.3    20
43                 Texas      1.158589e+10                3.5    25
44                  Utah      1.910906e+09                2.5     3
45               Vermont      4.396162e+08                2.1     1
46              Virginia      4.493670e+09                2.8     8
47            Washington      2.471252e+09                4.2    42
48         West Virginia      1.147838e+09                5.0    47
49             Wisconsin      2.371696e+09                3.2    16
50               Wyoming      2.313688e+08                3.7    33

    Population Estimate  SNAPS household_participants  \
0               4903185                        315551
1                731545                         35493
2               7278717                        345106
3               3017804                        159231
4              39512223                       1803402
5               5758736                        207748
6               3565287                        197761
7                973764                         58622
8                705749                         60156
9              21477737                       1429884
10             10617423                        614750
11              1415872                         74820
12              1787065                         61390
13             12671821                        816044
14              6732219                        238303
15              3155070                        142502
16              2913314                         87158
17              4467673                        226832
18              4648794                        348643
19              1344212                         78862
20              6045680                        308167
21              6892503                        416128
22              9986857                        631699
23              5639632                        193684
24              2976149                        195903
25              6137428                        299268
26              1068778                         48974
27              1934408                         67643
28              3080156                        206100
29              1359711                         36685
30              8882190                        325992
31              2096829                        204245
32             19453561                       1512387
33             10488084                        590075
34               762062                         21864
35             11689100                        632171
36              3956971                        247673
37              4217737                        324903
38             12801989                        872822
39              1059361                         84445
40              5148714                        259707
41               884659                         35168
42              6829174                        398958
43             28995881                       1364935
44              3205958                         67803
45               623989                         38423
46              8535519                        318522
47              7614893                        482025
48              1792147                        148108
49              5822434                        291721
50               578759                         10912

    SNAPS individual_participants  SNAPS cost  SNAPS cost_per_person  \
0                          667043  1032064886                 272.56
1                           78932   171091672                 401.70
2                          736883  1146712214                 276.90
3                          354917   460333605                 240.92
4                         3529470  5977281299                 276.20
5                          415289   639000457                 256.32
6                          340447   584718600                 246.39
7                          119787   178138585                 253.23
8                          101230   172078913                 238.38
9                         2649741  4035386245                 235.18
10                        1332536  2115101241                 286.72
11                         144922   448431408                 499.46
12                         135922   192918233                 261.88
13                        1639396  2646035880                 270.21
14                         530384   819644875                 286.63
15                         295682   429315218                 251.06
16                         185329   265322548                 253.68
17                         502241   739297747                 271.60
18                         749560  1214657938                 290.33
19                         144433   203630527                 215.18
20                         570444   878649666                 237.60
21                         703516  1131148466                 226.52
22                        1181972  1701430344                 224.45
23                         381779   509464759                 219.20
24                         420873   605780127                 257.69
25                         639338   996212141                 277.40
26                          99368   146944184                 250.04
27                         148768   221960791                 273.45
28                         391569   587953503                 237.73
29                          70412    92889191                 211.01
30                         649128   953558696                 243.76
31                         415161   632907856                 258.23
32                        2661700  4339617966                 239.12
33                        1228424  1863656810                 263.20
34                          45312    68485818                 261.03
35                        1273257  2020497444                 266.34
36                         531728   819546294                 275.75
37                         554927   884189650                 226.78
38                        1627640  2513696584                 240.00
39                         141232   244223564                 241.01
40                         558722   854652751                 274.24
41                          75020   121995672                 289.08
42                         832130  1307248122                 273.05
43                        3187238  4767112796                 291.05
44                         160829   234552832                 288.28
45                          68277   100248674                 217.42
46                         654882  1002380166                 262.25
47                         833128  1192380309                 206.14
48                         282662   397899950                 223.88
49                         572323   778373061                 222.35
50                          24309    36277115                 277.04

    SNAPS cost_per_household        DATE  Median Income    Year  Unnamed: 0  \
0                     128.94  2019-01-01        56200.0  2019.0         0.0
1                     180.63  2019-01-01        83079.0  2019.0         1.0
2                     129.68  2019-01-01        74897.0  2019.0         2.0
3                     108.08  2019-01-01        57799.0  2019.0         3.0
4                     141.13  2019-01-01        82772.0  2019.0         4.0
5                     128.22  2019-01-01        76832.0  2019.0         5.0
6                     143.13  2019-01-01        92507.0  2019.0         6.0
7                     123.93  2019-01-01        78628.0  2019.0         7.0
8                     141.66         NaN            NaN     NaN         NaN
9                     126.91  2019-01-01        61856.0  2019.0         8.0
10                    132.27  2019-01-01        60012.0  2019.0         9.0
11                    257.86  2019-01-01        93265.0  2019.0        10.0
12                    118.28  2019-01-01        65988.0  2019.0        11.0
13                    134.50  2019-01-01        78845.0  2019.0        12.0
14                    128.78  2019-01-01        70679.0  2019.0        13.0
15                    121.00  2019-01-01        70002.0  2019.0        14.0
16                    119.30  2019-01-01        77523.0  2019.0        15.0
17                    122.67  2019-01-01        58989.0  2019.0        16.0
18                    135.04  2019-01-01        51707.0  2019.0        17.0
19                    117.49  2019-01-01        66546.0  2019.0        18.0
20                    128.36  2019-01-01       101283.0  2019.0        19.0
21                    133.99  2019-01-01        92949.0  2019.0        20.0
22                    119.96  2019-01-01        67951.0  2019.0        21.0
23                    111.20  2019-01-01        86292.0  2019.0        22.0
24                    119.95  2019-01-01        47463.0  2019.0        23.0

In [21]:
df = ''

In [10]:
for year in years:
    source = f'./data/{year}-combined.csv'
    ydf = pd.read_csv(source)
    ydf['Year'] = year
    if year != '2000':
        df = pd.concat([df, ydf], ignore_index=True)
    else: 
        df = ydf.copy()

In [13]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

df.to_csv('./data/data.csv', index=False)
print(len(df))
df.head(-45)

1051

,State,Education Budget,Unemployment Rate,Population Estimate,SNAPS household_participants,SNAPS individual_participants,SNAPS cost,SNAPS cost_per_person,SNAPS cost_per_household,DATE,Median Income,Year,U.S. Rank,% Change,Job Growth (In Thousands),# of Jobs (In Thousands)
0,Alabama,5.577678e+08,4.6,4447207,1.561046e+05,3.960572e+05,3.437353e+08,72.3244,183.4962,2000-01-01,35424.0,2000,49.0,1.03,19.8,1945.1
1,Alaska,1.778816e+08,6.6,626933,1.320833e+04,3.752433e+04,4.583456e+07,101.7885,289.1770,2000-01-01,83377.0,2000,40.0,1.75,4.7,273.0
2,Arizona,6.679765e+08,3.9,5130247,9.556750e+04,2.590026e+05,2.402456e+08,77.2983,209.4903,2000-01-01,62766.0,2000,1.0,4.48,96.1,2239.8
3,Arkansas,3.284035e+08,4.4,2673293,9.876433e+04,2.465715e+05,2.062364e+08,69.7013,174.0139,2000-01-01,46853.0,2000,32.0,2.36,26.7,1157.6
4,California,3.792097e+09,4.9,33871653,6.720070e+05,1.830677e+06,1.639333e+09,74.6233,203.2882,2000-01-01,73862.0,2000,7.0,3.58,498.5,14421.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,Alaska,4.005232e+08,5.6,731545,3.549300e+04,7.893200e+04,1.710917e+08,401.7000,180.6300,2019-01-01,83079.0,2019,41.0,0.54,1.7,316.4
1002,Arizona,5.143402e+09,4.8,7278717,3.451060e+05,7.368830e+05,1.146712e+09,276.9000,129.6800,2019-01-01,74897.0,2019,3.0,2.93,83.2,2922.7
1003,Arkansas,1.350409e+09,3.5,3017804,1.592310e+05,3.549170e+05,4.603336e+08,240.9200,108.0800,2019-01-01,57799.0,2019,14.0,1.63,20.5,1275.0
1004,California,1.721222e+10,4.1,39512223,1.803402e+06,3.529470e+06,5.977281e+09,276.2000,141.1300,2019-01-01,82772.0,2019,15.0,1.50,255.1,17250.8
1005,Colorado,2.788049e+09,2.7,5758736,2.077480e+05,4.152890e+05,6.390005e+08,256.3200,128.2200,2019-01-01,76832.0,2019,6.0,2.38,63.9,2743.6