In [1]:
import csv
import numpy as np
import pandas as pd

In [2]:
#https://www.census.gov/data/datasets/time-series/demo/popest/2010s-state-total.html

In [9]:
unemployment_csv = './data/2019_unemployment.csv'
education_csv = './data/education_2019.csv'
population_csv = './data/nst-est2019-alldata.csv'
snaps_csv = './data/snaps_data_2019.csv'

In [12]:
unemployment_df = pd.read_csv(unemployment_csv)
education_df = pd.read_csv(education_csv)
pop_df = pd.read_csv(population_csv)
pop_df = pop_df[["NAME", "POPESTIMATE2019"]].copy()
snaps_df = pd.read_csv(snaps_csv)

education_df = education_df.rename(columns={"State or Other Area": "State", "2019 Actual": "Education Budget"})
unemployment_df = unemployment_df.rename(columns={"state": "State", "2019 rate": "Unemployment Rate"})
pop_df = pop_df.rename(columns={"NAME": "State", "POPESTIMATE2019": "Population Estimate"})
snaps_df = snaps_df.rename(columns = {"state": "State", "household_participants": "SNAPS household_participants",
                                   "individual_participants": "SNAPS individual_participants", "cost": "SNAPS cost",
                                   "cost_per_person": "SNAPS cost_per_person", "cost_per_household": "SNAPS cost_per_household"})

In [13]:

print(snaps_df)

                   State  SNAPS household_participants  \
0            Connecticut                        197761
1                  Maine                         78862
2          Massachusetts                        416128
3          New Hampshire                         36685
4               New York                       1512387
5           Rhode Island                         84445
6                Vermont                         38423
7               Delaware                         58622
8   District of Columbia                         60156
9               Maryland                        308167
10            New Jersey                        325992
11          Pennsylvania                        872822
12              Virginia                        318522
13         West Virginia                        148108
14               Alabama                        315551
15               Florida                       1429884
16               Georgia                        614750
17              Kentucky                        226832
18           Mississippi                        195903
19        North Carolina                        590075
20        South Carolina                        259707
21             Tennessee                        398958
22              Illinois                        816044
23               Indiana                        238303
24                  Iowa                        142502
25              Michigan                        631699
26             Minnesota                        193684
27                  Ohio                        632171
28             Wisconsin                        291721
29               Arizona                        345106
30              Arkansas                        159231
31             Louisiana                        348643
32            New Mexico                        204245
33              Oklahoma                        247673
34                 Texas                       1364935
35                  Utah                         67803
36              Colorado                        207748
37                Kansas                         87158
38              Missouri                        299268
39               Montana                         48974
40              Nebraska                         67643
41          North Dakota                         21864
42          South Dakota                         35168
43               Wyoming                         10912
44                Alaska                         35493
45            California                       1803402
46                Hawaii                         74820
47                 Idaho                         61390
48                Nevada                        206100
49                Oregon                        324903
50            Washington                        482025

    SNAPS individual_participants  SNAPS cost  SNAPS cost_per_person  \
0                          340447   584718600                 246.39
1                          144433   203630527                 215.18
2                          703516  1131148466                 226.52
3                           70412    92889191                 211.01
4                         2661700  4339617966                 239.12
5                          141232   244223564                 241.01
6                           68277   100248674                 217.42
7                          119787   178138585                 253.23
8                          101230   172078913                 238.38
9                          570444   878649666                 237.60
10                         649128   953558696                 243.76
11                        1627640  2513696584                 240.00
12                         654882  1002380166                 262.25
13                         282662   397899950                 223.88
14                         667043  1032064886                 272.56
15                        2649741  4035386245                 235.18
16                        1332536  2115101241                 286.72
17                         502241   739297747                 271.60
18                         420873   605780127                 257.69
19                        1228424  1863656810                 263.20
20                         558722   854652751                 274.24
21                         832130  1307248122                 273.05
22                        1639396  2646035880                 270.21
23                         530384   819644875                 286.63
24                         295682   429315218                 251.06
25                        1181972  1701430344                 224.45
26                         381779   509464759                 219.20
27                        1273257  2020497444                 266.34
28                         572323   778373061                 222.35
29                         736883  1146712214                 276.90
30                         354917   460333605                 240.92
31                         749560  1214657938                 290.33
32                         415161   632907856                 258.23
33                         531728   819546294                 275.75
34                        3187238  4767112796                 291.05
35                         160829   234552832                 288.28
36                         415289   639000457                 256.32
37                         185329   265322548                 253.68
38                         639338   996212141                 277.40
39                          99368   146944184                 250.04
40                         148768   221960791                 273.45
41                          45312    68485818                 261.03
42                          75020   121995672                 289.08
43                          24309    36277115                 277.04
44                          78932   171091672                 401.70
45                        3529470  5977281299                 276.20
46                         144922   448431408                 499.46
47                         135922   192918233                 261.88
48                         391569   587953503                 237.73
49                         554927   884189650                 226.78
50                         833128  1192380309                 206.14

    SNAPS cost_per_household
0                     143.13
1                     117.49
2                     133.99
3                     109.94
4                     135.87
5                     144.10
6                     122.36
7                     123.93
8                     141.66
9                     128.36
10                    122.42
11                    128.70
12                    127.55
13                    117.31
14                    128.94
15                    126.91
16                    132.27
17                    122.67
18                    119.95
19                    126.43
20                    127.47
21                    130.91
22                    134.50
23                    128.78
24                    121.00
25                    119.96
26                    111.20
27                    132.24
28                    113.34
29                    129.68
30                    108.08
31                    135.04
32                    127.04
33                    128.44
34                    124.64
35                    121.53
36                    128.22
37                    119.30
38                    129.85
39                    123.23
40                    124.33
41                    125.95
42                    135.51
43                    124.36
44                    180.63
45                    141.13
46                    257.86
47                    118.28
48                    125.13
49                    132.78
50                    119.27

In [14]:
df = pd.merge(education_df, unemployment_df, on='State').drop(columns='rank')
print(df.head())

        State  Education Budget  Unemployment Rate
0     Alabama      2.775338e+09                3.2
1      Alaska      4.005232e+08                5.6
2     Arizona      5.143402e+09                4.8
3    Arkansas      1.350409e+09                3.5
4  California      1.721222e+10                4.1

In [15]:
df = pd.merge(df, pop_df, how='left', on='State')
print(df.head())

        State  Education Budget  Unemployment Rate  Population Estimate
0     Alabama      2.775338e+09                3.2              4903185
1      Alaska      4.005232e+08                5.6               731545
2     Arizona      5.143402e+09                4.8              7278717
3    Arkansas      1.350409e+09                3.5              3017804
4  California      1.721222e+10                4.1             39512223

In [16]:
df = pd.merge(df, snaps_df, how='left', on='State')

In [17]:
print(df.head())

        State  Education Budget  Unemployment Rate  Population Estimate  \
0     Alabama      2.775338e+09                3.2              4903185
1      Alaska      4.005232e+08                5.6               731545
2     Arizona      5.143402e+09                4.8              7278717
3    Arkansas      1.350409e+09                3.5              3017804
4  California      1.721222e+10                4.1             39512223

   SNAPS household_participants  SNAPS individual_participants  SNAPS cost  \
0                        315551                         667043  1032064886
1                         35493                          78932   171091672
2                        345106                         736883  1146712214
3                        159231                         354917   460333605
4                       1803402                        3529470  5977281299

   SNAPS cost_per_person  SNAPS cost_per_household
0                 272.56                    128.94
1                 401.70                    180.63
2                 276.90                    129.68
3                 240.92                    108.08
4                 276.20                    141.13

In [18]:
df.to_csv('./data/2019-combined.csv', index=False)