In [2]:
import csv
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
source = './data/2019-combined.csv'

In [4]:
df = pd.read_csv(source)
print(df.head())

        State  Education Budget  Unemployment Rate  Population Estimate  \
0     Alabama      2.775338e+09                3.2              4903185
1      Alaska      4.005232e+08                5.6               731545
2     Arizona      5.143402e+09                4.8              7278717
3    Arkansas      1.350409e+09                3.5              3017804
4  California      1.721222e+10                4.1             39512223

  SNAPS household_participants SNAPS individual_participants     SNAPS cost  \
0                      315,551                       667,043  1,032,064,886
1                       35,493                        78,932    171,091,672
2                      345,106                       736,883  1,146,712,214
3                      159,231                       354,917    460,333,605
4                    1,803,402                     3,529,470  5,977,281,299

   SNAPS cost_per_person  SNAPS cost_per_household
0                 272.56                    128.94
1                 401.70                    180.63
2                 276.90                    129.68
3                 240.92                    108.08
4                 276.20                    141.13