In [1]:
import csv
import numpy as np
import pandas as pd

In [2]:
#https://www.census.gov/data/datasets/time-series/demo/popest/2010s-state-total.html

In [3]:
# EDIT THIS TO CONTAIN ALL YEARS YOU WANT TO ANALYZE
years = ['2000', '2001', '2002', '2003', '2004',
         '2005', '2006', '2007', '2008', '2009',
         '2010', '2011', '2012',
         '2013', '2013', '2014', '2015', '2016', 
         '2017', '2018', '2019']

In [4]:
def drop_cols(col_names, df):
    for col_name in col_names:
        if col_name in df.columns:
            df = df.drop(columns=col_name)
    return df

In [13]:
def combine(year):
    unemployment_csv = f'./data/{year}_unemployment.csv'
    education_csv = f'./data/education_{year}.csv'
    if int(year) < 2011:
        population_csv = f'./data/nst-est2000-alldata.csv'
    else:
        population_csv = f'./data/nst-est2019-alldata.csv'
    snaps_csv = f'./data/snaps_data_{year}.csv'
    unwanted_cols = ['rank', 'Rank', 'labor force', 'Labor Force', 'Rank ']
    
    unemployment_df = pd.read_csv(unemployment_csv)
    education_df = pd.read_csv(education_csv)
    pop_df = pd.read_csv(population_csv)
    #print(pop_df.head())
    #print(population_csv)

    pop_df = pop_df[["NAME", f"POPESTIMATE{year}"]].copy()
    snaps_df = pd.read_csv(snaps_csv)
    education_df = education_df.rename(columns={"State or Other Area": "State", f"{year} Actual": "Education Budget"})
    unemployment_df = unemployment_df.rename(columns={"state": "State", f"{year} rate": "Unemployment Rate", f"{year} Rate": "Unemployment Rate"})
    #print(unemployment_df)
    pop_df = pop_df.rename(columns={"NAME": "State", f"POPESTIMATE{year}": "Population Estimate"})
    snaps_df = snaps_df.rename(columns = {"state": "State", "household_participants": "SNAPS household_participants",
                                   "individual_participants": "SNAPS individual_participants", "cost": "SNAPS cost",
                                   "cost_per_person": "SNAPS cost_per_person", "cost_per_household": "SNAPS cost_per_household"})
    
    df = pd.merge(education_df, unemployment_df, on='State')
    df = pd.merge(df, pop_df, how='left', on='State')
    df = pd.merge(df, snaps_df, how='left', on='State')
    
    df = df.dropna(axis='columns')
    df = drop_cols(unwanted_cols, df)
    
    print(year)
    print(df.columns)
    
    return df

In [14]:
for year in years:
    df = combine(year)
#     print(df.head())
    df.to_csv(f'./data/{year}-combined.csv', index=False)

#df.head()

2000
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2001
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2002
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2003
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2004
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2005
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2006
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2007
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2008
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2009
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2010
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2011
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2012
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2013
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2013
Index(['State', 'Education Budget', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2014
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2015
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2016
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2017
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2018
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')
2019
Index(['State', 'Education Budget', 'Unemployment Rate', 'Population Estimate',
       'SNAPS household_participants', 'SNAPS individual_participants',
       'SNAPS cost', 'SNAPS cost_per_person', 'SNAPS cost_per_household'],
      dtype='object')

In [ ]:
df = ''

In [17]:
for year in years:
    source = f'./data/{year}-combined.csv'
    ydf = pd.read_csv(source)
    ydf['Year'] = year
    if year != '2000':
        df = pd.concat([df, ydf], ignore_index=True)
    else: 
        df = ydf.copy()

In [18]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
print(df)
df.to_csv('./data/data.csv', index=False)

              State  Education Budget  Population Estimate  \
0           Alabama      5.577678e+08              4447207
1            Alaska      1.778816e+08               626933
2           Arizona      6.679765e+08              5130247
3          Arkansas      3.284035e+08              2673293
4        California      3.792097e+09             33871653
...             ...               ...                  ...
1046       Virginia      4.493670e+09              8535519
1047     Washington      2.471252e+09              7614893
1048  West Virginia      1.147838e+09              1792147
1049      Wisconsin      2.371696e+09              5822434
1050        Wyoming      2.313688e+08               578759

      SNAPS household_participants  SNAPS individual_participants  \
0                      156104.5833                   3.960572e+05
1                       13208.3333                   3.752433e+04
2                       95567.5000                   2.590026e+05
3                       98764.3333                   2.465715e+05
4                      672007.0000                   1.830677e+06
...                            ...                            ...
1046                   318522.0000                   6.548820e+05
1047                   482025.0000                   8.331280e+05
1048                   148108.0000                   2.826620e+05
1049                   291721.0000                   5.723230e+05
1050                    10912.0000                   2.430900e+04

        SNAPS cost  SNAPS cost_per_person  SNAPS cost_per_household  Year  \
0     3.437353e+08                72.3244                  183.4962  2000
1     4.583456e+07               101.7885                  289.1770  2000
2     2.402456e+08                77.2983                  209.4903  2000
3     2.062364e+08                69.7013                  174.0139  2000
4     1.639333e+09                74.6233                  203.2882  2000
...            ...                    ...                       ...   ...
1046  1.002380e+09               262.2500                  127.5500  2019
1047  1.192380e+09               206.1400                  119.2700  2019
1048  3.979000e+08               223.8800                  117.3100  2019
1049  7.783731e+08               222.3500                  113.3400  2019
1050  3.627712e+07               277.0400                  124.3600  2019

      Unemployment Rate
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
...                 ...
1046                2.8
1047                4.2
1048                5.0
1049                3.2
1050                3.7

[1051 rows x 10 columns]